
<a href="/">Return to Main Page</a>
<h1>View All Properties in a Location</h1>

<h2>Select a Location</h1>
<form method="POST" action="/viewlocation">
<select name="selectedlocation">
    {%for item in alllocations%}
    <option value="{{ item[0] }}">{{item[0]}}</option>
    {%endfor%}
  </select>
  <br>
 Minimum Price <input type="number" value = 500000 name ="minprice" required/>

  <br>
  Maximum Price <input type="number" value = 1000000 name ="maxprice" required/>
  <br>

Amenities
<br>
{%for item in listofamenities%}
<select name="amenities{{ listofamenities.index(item)}}">
    <option value="{{ item }}">{{item}}</option>
    <option value="" selected> </option>
</select><br>
    {%endfor%}

  
  <input type="submit" value="Submit" required>
    </form>

        
 <h2>Average Price per Square Meter per Unit Type</h2>
 <h4>Selected Location:  {{ selectedlocation }} </h3>
 <table border = 1>
  <tr>
    <td>Property Type</td>
    <td>Average Price per Square Meter</td>
    <td>Number of Units</td>
    
</tr>
    {% for i in avgprices%}
    
    <tr>
        <td>{{i[0]}}</td>
        <td>EGP {{i[1]}}</td>
        <td>{{i[2]}}</td>
        
        
    </tr>
    {% endfor %}
  </table>

  <h2>Filter Properties in Location based on Price Range and Amenities</h1>
    <h4>Selected Location:  {{ selectedlocation }} </h3>
    <h4>Selected Price Range:  {{ minprice }} - {{ maxprice }} </h3>
      <h4>
        Selected Amenities: 
        {%for item in selectedamenities%}
        {{item}} - 
        {%endfor%} </h4>



    <table border = 1>
      <tr>
        <td>Property Type</td>
        <td>Price</td>
        <td>URL</td>
        <td>Amenities</td>
        
    </tr>
        {% for i in listofproperties2%}
        
        <tr>
            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
            <td>{{i[0]}}</td>
            <td>{{i[3]}}</td>
            
            
        </tr>
        {% endfor %}
      </table>

    
    
<h2>All Properties</h2>
<h4>Selected Location:  {{ selectedlocation }} </h3>
    <table border = 1>
      <tr>
        <td>Property Type</td>
        <td>Price</td>
        <td>URL</td>
        
    </tr>
        {% for i in listofproperties%}
        
        <tr>
            <td>{{i[1]}}</td>
            <td>EGP {{i[2]}}</td>
            <td>{{i[0]}}</td>
            
            
        </tr>
        {% endfor %}
      </table>
